{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="jumbotron">
        <div class="row">
        	<div class="col-md-2">
        		<img src="/static/avi.jpg" class="img-responsive img-circle">
        	</div>
        	<div class="col-md-9 col-md-offset-1">
        		<div class="col-md-5">
	        		<h2>Contact Me Via</h2>
	        		<a class="zocial linkedin" href="https://www.linkedin.com/in/avinash-kumar-b2b422a9">LinkedIn</a>
	        		<a href="https://github.com/avi1245" class="zocial github">Github</a>
	        	</div>
	        	<div class="col-md-7">
	        		<h2>Or Email Me At</h2>
	        		<h4>avinashsingh081994@gmail.com</h4>
	        	</div>
        	</div>
        </div>
    </div>

{% endblock %}
